<h1>Student Form</h1>
<%= form_tag(students_path, method: "post") do %>
    <label>First Name:</label><br>
  <%= text_field_tag name="student[first_name]" %><br>

  <label>Last Name:</label><br>
  <%= text_field_tag name="student[last_name]"  %><br>
    <%= submit_tag("Submit")%>
<%end%>

<p><%= @students.last%></p>
